body {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

svg{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x: hidden;
}

#right_sec{
    position: absolute;
    height: 100%;
    width: 25%;
    left: -75%;
    overflow: hidden;
    background-color: darkgray;
    display: none;
}

#angles_label{
    position: relative;
    left: 5%;
    top: 2%;
    text-align: left;
}

#angles{
    position: relative;
    left: 5%;
    width: 90%;
    height: 2%;
    margin-top: 5px;
    padding: 6px 3px;
    box-sizing: border-box;
    background-color: rgba(152, 251, 152, 0.6);
    color: black;
    border: 0px solid black;
    outline: none;
    border-radius: 5px;
    -moz-appearance:textfield;

}

#angles::-webkit-outer-spin-button,#angles::-webkit-inner-spin-button{

    -webkit-appearance:none;
    margin:0;

}

#min_width_label, #min_height_label,  #r_ranges, #offset_min_label{
    position:relative;
    width: 90%;
    height: 2%;
    left: 5%;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 5%;
}

#min_width, #max_width, #min_height, #max_height, #min_anim, #max_anim, #anim_step, #offset_max, #offset_min{
    position: relative;
    left: 5%;
    width: 90%;
    height: 2%;
    margin-top: 2px;
    padding: 6px 3px;
    box-sizing: border-box;
    background-color: rgba(152, 251, 152, 0.6);
    color: black;
    border: 0 solid black;
    outline: none;
    border-radius: 5px;
    padding: 0;
    -moz-appearance:textfield;
}

#min_width::-webkit-outer-spin-button,#min_width::-webkit-inner-spin-button, #max_height::-webkit-outer-spin-button,#max_height::-webkit-inner-spin-button,
#min_height::-webkit-outer-spin-button,#min_height::-webkit-inner-spin-button, #max_width::-webkit-outer-spin-button,#max_width::-webkit-inner-spin-button,
#r_min::-webkit-outer-spin-button,#r_min::-webkit-inner-spin-button, #r_max::-webkit-outer-spin-button,#r_max::-webkit-inner-spin-button,
#g_min::-webkit-outer-spin-button,#g_min::-webkit-inner-spin-button, #g_max::-webkit-outer-spin-button,#g_max::-webkit-inner-spin-button,
#b_min::-webkit-outer-spin-button,#b_min::-webkit-inner-spin-button, #b_max::-webkit-outer-spin-button,#b_max::-webkit-inner-spin-button,
#min_anim::-webkit-outer-spin-button,#min_anim::-webkit-inner-spin-button, #max_anim::-webkit-outer-spin-button,#max_anim::-webkit-inner-spin-button,
#anim_step::-webkit-outer-spin-button, #anim_step::-webkit-inner-spin-button, #offset_min::-webkit-outer-spin-button, #offset_min::-webkit-inner-spin-button,
#offset_max::-webkit-outer-spin-button, #offset_max::-webkit-inner-spin-button
{

    -webkit-appearance:none;
    margin:0;

}

#max_width_label, #max_height_label, #g_ranges, #b_ranges, #max_anim_label, #anim_step_label, #offset_max_label{
    position:relative;
    width: 90%;
    height: 2%;
    left: 5%;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 1%;
    -moz-appearance:textfield;
}

#blanker{
    margin-top: 5%;
}

#label-blank{
    position: relative;
    left: 5%;
}

#space_start{
    position: relative;
    width: 80%;
    left: 5%;
    margin: 0;
}

#blank_choice{
    position: relative;
    top: 0%;
}

#min_anim_label{
    position:relative;
    width: 90%;
    height: 2%;
    left: 5%;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 9%;
}

#r_min, #g_min, #b_min{
    position: relative;
    left: 5%;
    width: 45%;
    height: 2%;
    margin-top: 2px;
    padding: 6px 3px;
    box-sizing: border-box;
    background-color: rgba(152, 251, 152, 0.6);
    color: black;
    border: 0px solid black;
    outline: none;
    border-radius: 5px;
    padding: 0px;
    -moz-appearance:textfield;
}

#r_max, #g_max, #b_max{
    position: relative;
    left: 5%;
    width: 45%;
    height: 2%;
    margin-top: 2px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(152, 251, 152, 0.6);
    color: black;
    border: 0px solid black;
    outline: none;
    border-radius: 5px;
    padding: 0px;
    -moz-appearance:textfield;
}

#color_ex{
    position: relative;
    height: 6%;
    top: 1%;
}

#lesser_color{
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    left: 25%;
    border: 1px solid black;
}

#bigger_color{
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    left: 38%;
    border: 1px solid black;
}

#set{
    width: 100%;
    aspect-ratio: 1/1;
    border: none;
    transition-duration: 0.4s;
    top: 2vh;
}

#set:hover{
    background-color: rgb(40, 40, 40);
    color: white;
}

#svg_button{
    position: absolute;
    width: 3%;
    aspect-ratio: 1/1;
    right: 1%;
    top: 1%;
}

#buttons{
    position: relative;
    height: 4%;

    top: 10%;
}

#randomize {
    position: relative;
    left: 9%;
    height: 100%;
    width: 30%;
    background-color: white;
    color:darkblue;
    transition-duration: 0.6s;
    border: 1px solid black;
}

#randomize:hover{
    background-color: darkblue;
    color: white;
}

#generate{
    position: relative;
    left: 27%;
    height: 100%;
    width: 30%;

    background-color: white;
    color: darkgreen;
    transition-duration: 0.6s;
    border: 1px solid black;
}

#generate:hover{
    background-color: darkgreen;
    color: white;
}

#rightsec-2{
    position: absolute;
    width: calc(40% - 2px - 4vw);
    height: calc(100vh - 2px - 4vh);
    right: 0;
    background-color: black;
    border: 1px solid darkcyan;
    visibility: visible;
    padding: 2vh 2vw;
}

#rightsec-2.closed{
    visibility: hidden;
}

#rightsec-2 > div.crossmark{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-end;
}

#rightsec-2 h5{
    color: white;
    font-family: "Cascadia Code", sans-serif;
    font-size: 0.6vw;
}

#rightsec-2 input{
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 0 3%;
    font-family: "Cascadia Code", sans-serif;
    font-size: 0.6vw;
}

._1text1field{
    display: flex;
    max-height: 4vh;
    column-gap: 2vw;
    align-items: center;
}

._1text1field > h5{
    width: calc(40% - 2vw);
}

._1text1field > div{
    width: calc(60% - 2vw);
}

._1text1field > div > input{
    width: 100%;
}

._1text2field{
    display: flex;
    max-height: 4vh;
    column-gap: 2vw;
    align-items: center;
}

._1text2field > h5{
    width: calc(40% - 2vw);
}

._1text2field > div{
    display: flex;
    width: 60%;
    align-items: center;
}

._1text2field > div > input{
    width: calc(50% - 1vw);
    height: 100%;
}

._1text2field > div > h5{
    width: 1vw; !important;
    text-align: center;
    color: white;
}

._1text1check{
    display: flex;
    align-items: center;
    column-gap: 5vh;
}

._1text1check > img{
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

._1text1check > img.checked{
    content: url("assets/white-check.svg");
}

._2images{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

._2images > img{
    height: 10vh;
    aspect-ratio: 1/1;
}

._controls{
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
}

._controls > button{
    background-color: darkgreen;
    color: white;
    width: 30%;
    height: 5vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

._controls > button + button{
    background-color: darkgoldenrod;
}

@keyframes open{

    0%{
        left: 100%;
    }

    100%{
        left: 75%;
    }
}

@keyframes close{

    0%{
        left: 75%;
    }

    100%{
        left: 100%;
    }
}

@keyframes open2 {
    0%{
        pointer-events: none;
        visibility: hidden;
    }

    100%{
        pointer-events: visible;
        visibility: visible;
    }
}

@keyframes close2 {
    0%{
        pointer-events: visible;
        visibility: visible;
    }

    100%{
        pointer-events: none;
        visibility: hidden;
    }
}

@media (max-width: 991px){
    svg{
        pointer-events: none;
    }
}